
      
        body {
          font-family: 'Poppins', sans-serif;
          margin: 0;
          padding: 0;
          background-color: white;
      }
      header {
          color: black;
          padding: 20px;
          text-align: center;
          margin-left: auto;
      }
      nav {
          margin: 20px 0;
          margin-top: 40px;
          margin-right: 120px;
          text-align: center;
          display: flex;
          justify-content: flex-end; 
      }
      nav a {
          margin: 0 15px;
          color: black;
          text-decoration: none;
      }
    
      .active {
        color: #D1884F;
    }


    
    
      section {
          display: flex;
          justify-content: space-around;
          padding: 20px;
          margin-top: 20px;


      }
     

      h3 {
          color:#3BBADB;
          font-size: 13pt;
      }

      .carved-image {
        width: 300px;
        height: 280px;
        background-color: #eecba3 ;
        border-bottom-left-radius: 100% 70%;
        position: relative;
        overflow: hidden;
        box-shadow: -12px 12px 0px  #eecba3 ;

      }
      
      .carved-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    
    
      .button-hire {
          background-color: #008AAA;
          color: white;
          border-radius: 5px;
          padding: 10px 30px;
          font-size: 13pt;
          border-color: #008AAA;
          box-shadow: #008AAA;
          margin-right: 50px;

          margin-top: 20px;
      }
      .button-project {
        background-color:white ;
        color: #008AAA;
        border-radius: 5px;
        border-color: #008AAA;
        font-size: 13pt;

        padding: 10px 25px;
        margin-top: 20px;
        
        box-shadow: #008AAA;
          }
      .comp{
      color: #D1884F;
      font-weight: bold;
      font-size: 30pt;
      }
      h1{
      color: #008AAA;
      font-weight: bold;
      font-size: 30pt;
      margin-bottom: 0px;
      margin-top: 0px;

      }
      span{
      color: #008AAA;
      font-weight: bold;
      font-size: 30pt;

      }
      article{
      margin-top: 30px;
      color: black;
      }





